.card {
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px #ccc;
    justify-content: space-between;
    padding: 10px;
    max-width: 300px;
    gap: 2em;
    margin: 0 auto;
    margin-bottom: 1em;

    .card-img {
        width: 50px;
    }

    p {
        font-size: 0.9rem;
    }
}